{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "jsxSingleQuote": true
}
